*{
    margin: 0;
    padding: 0;
}
#opt-button{
    background: #FFFFFF;
    border: 1px solid #3A405A;
    box-sizing: border-box;
    border-radius: 5px;
    width: 293px;
    height: 47px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #3A405A;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 300ms;
}
#opt-button:hover{
    width: 293px;
    height: 47px;
    left: 219px;
    top: 93px;
    background: #3A405A;
    border: 1px solid #3A405A;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

    text-align: center;

    color: #FFFFFF;
}
#floorPlans{
    transition: 300ms;
    display: none;
    opacity: 0;
    padding: 20px;
}
#floorPlans h2{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 45px;
    color: #3A405A;
}
#floorConatiner{
    width: 425px;
    margin: auto;
}
.floor2{
    height: 268px;
    width: 400px;
}
.floor2 img{
    position: absolute;
    height: 268px;
}
.floor1{
    height: 268px;
    width: 425px;
}
.floor1 img{
    position: absolute;
    height: 268px;
}
.comp{
    display: inline-block;
    margin: 1px;
}
.room{
    position: absolute;
    line-height: 15px;
}
.rtop{
    margin-top: 6px;
    height: 40px;
}
.rdown{
    margin-top: 223px;
    height: 40px;
}
#room-23{
    margin-left: 171px;
    width: 62px;
}
#room-24{
    width: 64px;
    margin-left: 90px;
}
#room-25{
    width: 70px;
    margin-left:9px;
}
#room-26{
    margin-left: 9px;
    width: 70px;
}
#room-27{
    margin-left: 91px;
    width: 64px;
}
#room-28{
    margin-left: 171px;
    width: 62px;
}

#room-11{
    margin-left: 322px;
    width: 70px;
}
#room-12{
    margin-left: 244px;
    width: 64px;
}
#room-13{
    margin-left: 165px;
    width: 64px;
}
#room-14{
    margin-left: 90px;
    width: 58px;
}
#room-15{
    width: 70px;
    margin-left:9px;
}
#room-16{
    margin-left: 9px;
    width: 70px;
}
#room-17{
    margin-left: 93px;
    width: 60px;
}
#room-18{
    margin-left: 164px;
    width: 68px;
}
#floorPlans p{
    width: 15px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    color: white;
    line-height: 15px;
}
@media only screen and (max-width: 735px) {
    #floorPlans{
        padding: 0px;
        overflow: hidden;
    }
    #floorPlans img{
        overflow: hidden;
        width:100%;

    }
    .floor2 > div , .floor1 > div{
        width: 50px;
    }
    #floorPlans p{
        width: 5px;
        height: 5px;
    }
}
@media only screen and (max-width: 400px) {
    .floor2 div , .floor1 div{
        width: 30px;
    }
    #opt-button{
        margin-left: 10px;
    }

}