header{
    position: absolute;
    height: 50px;
    background-color: #3A405A;
    line-height: 50px;
    width: 100%;
    top: 0;
    z-index: 100;
}
header nav ul li{
    color: #F9DEC9;
    display: inline-block;
    padding: 0px 20px 0px 20px;
}
header nav ul{
    float: right;
    margin-right: 20px;
}
.lang-current{
    font-weight: 600;
}
.lang-current:hover{
    text-decoration: none;
    cursor: default;
}
#dropdown{
    position: fixed;
    top: 50px;
    background: #3A405A;
    height: 0px;
    width: 750px;
    transition: 300ms;
    
}

#dropdown-content{
    display: none;
    transition: 300ms;
    opacity: 0;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding: 20px;
}
#dropdown-content h3{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    
}
#dropdown-content a{
    color: #F9DEC9;
    font-size: 16px;
}
#dropdown-content p{
    line-height: 19px;
    color:white;
    font-size: 14px;
}
