header{
    position: absolute;
    height: 50px;
    background-color: #3A405A;
    line-height: 50px;
    width: 100%;
    top: 0;
    z-index: 100;
}
nav svg{
    display: none;
    height: 30px;
    margin: 10px;
    width: 90px;
}
header nav ul li{
    color: #F9DEC9;
    display: inline-block;
    padding: 0px 20px 0px 20px;
}
header nav ul{
    float: right;
    margin-right: 20px;
}
.lang-current{
    font-weight: 600;
}
.lang-current:hover{
    text-decoration: none;
    cursor: default;
}
#dropdown{
    position: absolute;
    top: 50px;
    background: #3A405A;
    height: 0px;
    width: 750px;
    transition: 300ms;
    
}

#dropdown-content{
    display: none;
    transition: 300ms;
    opacity: 0;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding: 20px;
}
#dropdown-content h3{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    
}
#dropdown-content a{
    color: #F9DEC9;
    font-size: 16px;
}
#dropdown-content p{
    line-height: 19px;
    color:white;
    font-size: 14px;
}
#phone-dropdown{
    text-align: right;
    margin-right: 10px;
    display: none;
}
#phone-dropdown button{
    height: 30px;
    line-height: 100%;
    background: none;
    outline: none;
    border: none;
}
#phone-dropdown button:hover{
    text-decoration: underline;
}
.menu-space1{
    margin-top: 30px;
}
.menu-space2{
    margin-top: 35px;
}
@media only screen and (max-width: 670px){
    nav svg{
        display: block;
        float: left;
    }
    #dropdown-trigger{
        height: auto;
    }
    #phone-dropdown{
        display: block;
    }
    header nav ul{
        display: none;
        float: none;
    }
    header nav ul li{
        display: block;
    }
    #dropdown{
        position: unset;
        height: 100%;
    }
    #dropdown-content{
        height: auto;
        display: grid;
        opacity: 1;
    }
    #dropdown-content > div{
        grid-column: 1/3;
    }
    #dropdown-content > div > p{
        display: none;
    }
    .menu-space1{
        margin-top: unset;
    }
    .menu-space2{
        margin-top: unset;
    }
    #main-logo{
        display: none;
    }
}