.page-content{
    height: auto;
    background: red;
    transition: all ease-in-out 500ms;
}
.menu{
    border-top: 3px solid #3A405A   ;
    border-bottom: 3px solid #3A405A;
    background: #fff;
    text-align: center;
}
.menu button{
    transition: all ease-in-out 300ms;
    color: #3A405A;
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #3A405A;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
    font-size: 14px;
}
.menu button:hover{
    background: #3A405A;
    border: 1px solid #3A405A;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
}
#solar{
    opacity: 0;
    margin: 20px 15%;
    display: none;
    overflow-y: auto;
    height: 340px;
    transition: 300ms;
    border: 1px solid white;
}
.slora-data{
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin-bottom: 10px;
}
.solar-title{
    grid-column: 1/6;
    margin: 3px;
}
.solar-title h3 {
    padding: 20px;
    display: inline-block;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
    color: #99B2DD;
    background: #3A405A;
    border-bottom: 1px solid white;
}
.solar-col{
    background: #3A405A;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #99B2DD;
    text-align: right;
    margin: 3px;
}
.solar-col p {
    padding: 10px;
    margin: 0;
}
.solar-col p:nth-child(odd){
    border-bottom: 1px solid white;
    
}
.content-title{
    margin-left: 15%;
    margin-top: 30px;
    display: none;
}
@media only screen and (max-width: 735px) {
    .solar-title{
        grid-column: 1/3;
    }
    .slora-data{
        grid-template-columns: repeat(2, auto);
    }
    #solar{
        margin: 10px;
    }
    .content-title{
        margin: 10px;
    }
    .menu button {
        margin: 20px auto;
    }
}
#solar::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
  #solar::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  #solar::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  #solar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
